<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <div class="container py-5">
    <h1>Максим</h1>
    <aside class="col-10 col-md-4">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Студент 34 когорты курса Python-разработчик
        </li>
        <li class="list-group-item">
          Верстка страниц - неблагодарное дело
        </li>
        <li class="list-group-item">
          Спринт 4 был трудный и придется все перечитывать
        </li>
        <li class="list-group-item">
          Замечаний на ревью думаю будет много
        </li>
      </ul>
    </aside>
  </div>
{% endblock %} 